@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-stone-50: #fafaf9;
  --color-stone-100: #f5f5f4;
  --color-stone-900: #1c1917;
  --color-amber-500: #f59e0b;
  --color-amber-600: #d97706;

  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

:root {
  --background: #fafaf9;
  /* Stone 50 */
  --foreground: #1c1917;
  /* Stone 900 */
  --color-primary: #d97706;
  /* Amber 600 */
  --color-secondary: #f5f5f4;
  /* Stone 100 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1917;
    --foreground: #fafaf9;
    --color-primary: #f59e0b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}